{
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-transform-object-rest-spread",
        "@babel/plugin-transform-class-properties",
        "@babel/plugin-transform-optional-chaining"
    ],
    "presets": [
        "@babel/preset-env"
    ]
}
