parameters:
    phpVersion: 80100
    level: 0
    bootstrapFiles:
        - wp-content/plugins/gpxadmin/class-aliases.php
    paths:
        - wp-content/plugins/gpxadmin
        - wp-content/themes/gpx_new
    excludePaths:
        - wp-content/plugins/gpxadmin/dashboard/vendors
        - wp-content/plugins/gpxadmin/dashboard/libraries
        - wp-content/plugins/gpxadmin/api/lib
    scanDirectories:
          - ./
          - wp-content/plugins/gpxadmin/dashboard/vendors
          - wp-content/plugins/gpxadmin/dashboard/libraries
          - wp-content/plugins/gpxadmin/api/lib
    ignoreErrors:
        - '#Undefined variable: \$[a-zA-Z0-9\\_]+#'
        - '#Instantiated class ReCaptcha\\ReCaptcha not found\.#'
        - '#Instantiated class SforcePartnerClient not found\.#'
        - '#Instantiated class SingleEmailMessage not found\.#'
        - '#Instantiated class Dompdf\\Dompdf not found#'
        - '#Call to static method register\(\) on an unknown class Dompdf\\Autoloader\.#'
includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
