.gpx-loading-disabled {
	opacity: .5;
}
.gpx-loading-disabled .list-button a {
    opacity: 0;
}
.w-cnt-result {
    position: relative;
}
.loading-spinner {
	display: none;
	text-align: center;
	position: absolute;
	bottom: 15px;
	width: 100%;
}
.gpx-loading-disabled .loading-spinner {
	display: block;
}
.w-item-view img {
	max-height: 185px;
}
.hide-on-load {
	display: none;
}
.count-RentalWeek {
	background: #ec8f08;
	color: #fff;
	padding: 2px 6px;
    font-size: 11px;
    border-radius: 4px;
    white-space: nowrap;
    margin-left: 4px;
}
.count-ExchangeWeek {
    background: #8907d5;
    color: #fff;
    padding: 2px 6px;
    font-size: 11px;
    border-radius: 4px;
    white-space: nowrap;
    margin-left: 4px;
}
.page-id-26 #customRequestForm::after {
	width: 100%;
	height: 100%;
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
}
.material .material-input textarea#SpecialRequest {
	height: 92px;
}
.modal_reset_username {
	width: 100%;
	padding: 10px;
	border: 1px solid #fff;
}
.exchange-item a {
	white-space: nowrap;
}
.booking-confirmation .list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.booking-confirmation .list .item {
  width: auto;
}
.booking-confirmation .list::before,
.booking-confirmation .list::after {
  display: none;
}
#modal-checkout {
	position: absolute;
	height: auto;
	padding-bottom: 50px;
}
#checkout-modal-form .ginput_container {
  width: 85%;
  margin: 0px auto 10px;
}
#checkout-modal-form .ginput_container input, #checkout-modal-form .ginput_container select {
  width: 100%;
  padding: 10px;
}
.cancelled-week a.hide-slash {
  display: none;
}
.cancelled-week {
  text-decoration: line-through;
}
.agenthide {
	display: none;
}
.review .w-list-availables .cnt-list.flex-list .list-cnt {
	max-width: calc(33.333% - 30px);
}
#wpadminbar {
	background: none #8906d5;
}
@media screen and (max-width: 960px) {
	max-width: none;
}
.extend-box {
	position: relative;
}
.form-control.credit-extension-date,
.form-control.extend-date {
	height: 37px;
	display: block;
	margin-bottom: 4px;
}
.donate-input,
.extend-input {
	position: absolute;
	left: -130px;
	width: 200px;
	background: none #fff;
	z-index: 100;
	padding: 20px;
	top: -18px;
}
.close-box {
	position: absolute;
	top: 3px;
	right: 5px;
}
#transaction-details {
  background: none #fff;
  overflow: hidden;
  padding: 25px 40px;

}
#modal-transaction.modal {
  max-width: 1000px;
}
.w-modal {
  display: inline-block;
  width: 100%;
}
#transaction-details .page-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#transaction-details .title_right {
  text-align: right;
  justify-self: end;
}

#transaction-details .feOnly {
  display: block !important;
  clear: both;
}
#transaction-details label {
  display: block;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 3px;
}
.hide-agent {
	display: none;
}
.feOnly.row {
  padding-top: 20px;
}
.btn.btn-default.save-edit-transaction {
  padding: 10px 20px;
  border: 1px solid;
}
#alertMsg p {
	margin-bottom: 10px;
}
.page-template-page-booking-path-payment .modal-alert {
	width: 75%;
	max-width: none;
	min-width: 300px;
}
#apply-coupon {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: none #fff;
	z-index: 1000;
	display: grid;
	text-align: center;
	align-content: center;
}
.carts.zeroDue {
	opacity: .15;
}
#couponCode {
	position: relative;
	z-index: 1;
}
.view-profile {
	position: relative;
	z-index: 100;
}
.modal.active-modal {
	z-index: 1000;
}
.ui-autocomplete {
	z-index: 10000;
}
.hold-limit-countdown {
	clear: both;
	max-width: 800px;
	margin: 0px auto 45px;
	width: 75%;
	border: 1px solid;
	padding: 20px;
}
.days-div {
	display: none;
}
.hold-limit-countdown h1{
  font-weight: 100;
  font-size: 18px;
  margin: 40px 0px 20px;
  text-align: center;
}

.show-countdown-timer{
    display: block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

.show-countdown-timer > div{
    padding: 10px;
    display: inline-block;
}

.show-countdown-timer div > span{
    padding: 15px;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}
.member-form .w-form .list-form li .material-input input[type="checkbox"] {
	border: 1px solid;
	width: 30px;
	margin-top: 10px;
	position: relative;
}
.member-form .w-form .list-form li .material-input input[type="checkbox"]:checked::after {
	content: "L";
	color: #009ad6;
	font-weight: bold;
	text-align: center;
	line-height: 38px;
	position: absolute;
	top: -6px;
	left: 7px;
	transform: scaleX(-1) rotate(-35deg);
	font-size: 23px;
}
.slider-item.rsContent {
	background-size: cover;
}
.sub-menu {
	display: none;
	position: absolute;
	background: none #fff;
	padding: 0 25px;
	width: 200px;
	top: 64px;
	left: 0;
	text-align: left;
	box-shadow: 0 2px 2px rgba(0,0,0,.3);
}
.menu-item-has-children {
	position: relative;
}
.header .nav-list .menu-item-has-children:hover > ul {
	display: block;
}
.header .nav-list .sub-menu li {
    display: block;
}
@media screen and (max-width: 768px) {
	.active-menu.menu-responsive {
	    width: 250px;
	}
    .menu-responsive > li a {
        margin-right: 40px;
    }
	.menu-item-has-children::after {
	content: "\f0dd";
	font-family: "FontAwesome";
	margin-right: 10px;
	position: absolute;
	top: 4px;
	right: 2px;
	vertical-align: baseline;
	line-height: 34px;
	font-size: 27px;
	color: #fff;
    }  
	#top-main-nav-menu {
		display: none !important;
	}
	.sub-menu {
		position: relative;
		top: unset;
		left: unset;
		background: none;
		width: auto;
		padding: 0 0 0 10px;
		box-shadow: none;
	}
	.w-profile.w-banner {
		margin-top: 0 !important;
	}
	.new-design-height.w-banner {
		margin-top: 50px;
	}m
	.new-design-height.w-banner .w-box {
	    top: 50%;
	    transform: translateY(-50%);
	}
}
.vc_row.wpb_row.vc_row-fluid.full-width-children.vc_row-no-padding {
	overflow: visible;
}
.universal-search-widget-band {
	background: none #041B34;
	padding: 20px 0;
}
.universal-search-widget.dgt-container.w-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.usw-text {
	color: #fff;
	font-size: 22px;
	max-width: 275px;
	width: 100%;
}
.usw-dest #universal_sw_autocomplete {
	padding: 15px;
	width: 100%;
}
.usw-button {
	width: 100%;
	max-width: 115px;
}
.usw-button .dgt-btn {
	background: none #f8c337;
	padding: 12px;
	border: none;
	font-size: 17px;
	width: 100%;
}
.usw-button .dgt-btn.af-agent-skip {
	background: none #fff;
}
.usw-dest {
	width: calc(.57 * (100% - 390px));
}
.universal-search-widget .SumoSelect {
	width: 100%;
}
.universal-search-widget .SumoSelect.usw-month-year {
	width: calc(.2 * (100% - 390px));
}
.usw-month-year .SelectBox {
	padding-top: 15px;
	padding-bottom: 15px;
}
@media screen and (max-width: 768px) {
	.universal-search-widget.dgt-container.w-box {
	    display: block;
		text-align: center;
		margin-bottom: 45px;
	}
	.usw-text {
		margin: 10px auto 20px;
	}
	.usw-button,
	.usw-dest, 
	.universal-search-widget .SumoSelect.usw-month-year {
		width: 100%;
		max-width: none;
		margin-bottom: 5px;
	}
	
}
.hero-main-text {
	font-family: Raleway;
	font-weight: 400;
	margin-top: 60px;
	position: relative;
}
.hero-main-text::before,
.hero-main-text::after {
	content: "";
	width: 100px;
	border-bottom: 1px solid #fff;
	height: 1px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.hero-main-text::before {
	top: -20px;
}
.hero-main-text::after {
	bottom: -20px;
}
.full-width-children .vc_column_container > .vc_column-inner {
	padding: 0 !important;
	margin: 0 !important;
	max-width: none;
}
.w-list-result.collapse {
-webkit-transition: all 750ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
   -moz-transition: all 750ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
     -o-transition: all 750ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
        transition: all 750ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
	height: 339px;
	overflow: hidden;
}
.hidden-more-button.dgt-btn.result-resort-availability {
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
	padding: 5px 15px;
	width: auto;
}
.collapse.no-availability {
	display: none;
}
.gold-link {
	color: #f8c337 !important;
}
.tabbed {
	padding-top: 75px;
}
.tab-menu-items {
	display: flex;
	justify-content: space-evenly;
}
.tab-menu-items .tab-menu-item {
	padding: 15px 3px;
	background: none #fff;
	border-bottom: 1px solid #F7F7F7;
	flex-grow: 1;
	text-align: center;
	margin: 0 2px;
	cursor: pointer;
}
.tab-menu-items .tab-menu-item.active {
	border-bottom: none;
	background: none #009bd9;
	color: #fff;
}
.tab-menu-items .tab-menu-item:first-child {
	margin-left: 0;
}
.tab-menu-items .tab-menu-item:last-child {
	margin-right: 0;
}
.tabbed .w-information {
	display: none;
}
.tabbed .w-information.active {
	display: block;
}
.tabbed .w-information .title {
	display: none;
}
.ice-select,
.ownership-deposit {
  padding: 10px;
  background: none #009bd9;
  color: #fff;
}
.pending-credit {
  padding: 10px;
  background: none #b8b8b8;
  color: #fff;
}
.ice-select option,
.ownership-deposit option {
  background: none #b8b8b8;
}
@media screen and (max-width: 768px) {
	.tabbed .w-information,
	.tabbed .w-information .title {
		display: block;
	}
	.tab-menu-items {
		display: none;
	}
}
.w-offers .gtitle {
	margin-bottom: 75px;
	text-align: center;
}
#owner-shared-main-gallery {
	width: calc(100% - 70px);
}
#gallery_resort_thumbs img {
	width: 100%;
	max-width: 150px;
}
.rsResort .rsThumbsArrowIcn {
	width: 16px;
	height: 16px;
	top: 50%;
	left: 50%;
	margin-top: -8px;
	margin-left: -8px;
	position: absolute;
	cursor: pointer;
	background: url(rs-default.png);
}
.rsResort .rsThumbsArrow::before, .rsResort .rsThumbsArrow::after {
	content: '';
	display: block;
	position: absolute;
	font-weight: bold;
	color: black;
	background-color: black;
	width: 2px;
	height: 30px;
}
.owner-shared-gallery-wrapper {
	clear: both;
	text-align: center;
	display: block;
	padding-top: 45px;
}
.carousel-slider {
	padding-right: 25px;
	padding-left: 25px;
	position: relative;
}
.cg-gallery-thumbs {
	position: relative;
}
.cg-gallery-main .slick-next {
	background: url("../images/right-arrow.png");
	width: 24px;
	height: 44px;
}
.cg-gallery-main .slick-prev {
	background: url("../images/left-arrow.png");
	width: 24px;
	height: 44px;
}
.cg-gallery-thumbs .slick-next,
.cg-gallery-main .slick-next,
.carousel-slider .slick-next {
	font-size: 0;
	position: absolute;
	top: 50%;
	right: -35px;
	transform: translateY(-50%);
	border: none;
	margin-top: -15px;
	z-index: 1;
}
.cg-gallery-thumbs .slick-next:before,
.cg-gallery-main .slick-next:before,
.carousel-slider .slick-next:before {
    content: "\f054";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;
    opacity: .5;
}
/* .cg-gallery-main .slick-next:before {
	color: #fff;
	opacity: .7;
	font-size: 30px;
	left: -20px;
	color: rgba(0,0,0,.5);
	padding: 10px 5px 10px 10px;
} */
@media screen and (max-width: 480px) {
	.cg-gallery-thumbs .slick-next:before,
    .carousel-slider .slick-next:before {  
    	left: -15px;	
    }
    .w-banner {
	    margin-top: 51px !important;
    }
    .resort-detail .gallery-detail {
        height: auto !important;
    }
	.resort-detail .info-detail {
		padding-top: 40px !important;
	}
}
.cg-gallery-thumbs .slick-next:before,
.cg-gallery-main .slick-next:before {
	top: -10px;
}
.cg-gallery-thumbs .slick-next:hover:before,
.cg-gallery-main .slick-next:hover:before,
.carousel-slider .slick-next:hover:before {
	opacity: 1;
}
.cg-gallery-main .slick-next:hover:before {
	color: rgba(0,0,0,.75);
}
.cg-gallery-thumbs .slick-prev,
.cg-gallery-main .slick-prev,
.carousel-slider .slick-prev {
	font-size: 0;
	position: absolute;
	top: 50%;
	left: -35px;
	transform: translateY(-50%);
	border: none;
	z-index: 1;
	margin-top: -15px;
}
.cg-gallery-thumbs .slick-prev:before,
.cg-gallery-main .slick-prev:before,
.carousel-slider .slick-prev:before {
    content: "\f053";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;
    opacity: .5;
}
.cg-gallery-main .slick-prev::before {
	color: #fff;
	opacity: .7;
	font-size: 30px;
	left: 0;
	color: rgba(0,0,0,.5);
	padding: 10px 10px 10px 5px;
}
.cg-gallery-thumbs .slick-prev:before,
.cg-gallery-main .slick-prev:before {
	top: -10px;
}
.cg-gallery-thumbs .slick-prev:hover:before,
.cg-gallery-main .slick-prev:hover:before,
.carousel-slider .slick-prev:hover:before {
	opacity: 1;
}
.cg-gallery-main .slick-prev:hover:before {
	color: rgba(0,0,0,.75);
}
.cg-gallery-main .slick-slide img {
	width: 100%;
}
/*
** changing out the font-awesome for arrows but leaving font awesome code
*/
.cg-gallery-main .slick-prev::before,
.cg-gallery-main .slick-next::before {
	display: none;
}
.cg-gallery-main .slick-next {
	background: url("../images/right-arrow.png") no-repeat center center transparent;
	width: 24px;
	height: 100%;
	margin-top: 0;
}
.cg-gallery-main .slick-prev {
	background: url("../images/left-arrow.png") no-repeat center center transparent;
	width: 24px;
	height: 100%;
	margin-top: 0;
}
.w-offers .gtitle h2 {
	color: black;
	font-family: "ralewaymedium",sans-serif;
	font-size: 24px;
	text-transform: uppercase;
}
.w-offers .gtitle p {
	font-family: "ralewaymedium",sans-serif;
	font-size: 16px;
}
/* new info above */
.albullet li {
	list-style: disc;
	margin-left: 15px;
}
.booking-confirmation .expand_item .cnt-expand {
	height: auto;
}
.mobile-phone {
	display: none;
}
.phone.noclick {
	cursor: default;
}
@media screen and (max-width: 768px) {
	.mobile-phone {
		display: block;
	}
	.header .top-nav .access {
	    padding-top: 5px;
		display: grid;
		grid-row-gap: 10px;
	}
	.header .top-nav .access .dgt-btn {
	    margin: 0 !important;
	}
	.header .top-nav {
		line-height: normal;
		height: 98px !important;
	}
	.header .w-logo,
	.header .w-logo figure {
		width: 140px !important;
	}
	.header .w-logo {
		transform: translateX(-15%);
	}
	.w-nav {
		top: 15px;
	}
}
.gsub-title::before {
	display: none;
}
.no-bottom-margin {
	margin-bottom: 0;
}
.w-featured.bg-gray-light.resort-negative-margin {
	margin-top: -65px;
}
.rsResort .rsOverflow {
	height: 100% !important;
}
.rsImg {
	width: 100% !important;
	height: auto !important;
	margin-left: 0 !important;
}
.rsPlayBtnIcon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	width: 100%;
	height: 100%;
}
.rsPlayBtnIcon::after {
	content: "\f01d";
	position: absolute;
	color: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: FontAwesome;
	font-size: 94px;
}
.cnt-list.flex-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.cnt-list.flex-list .list-cnt {
	margin-top: 0;
}
.list-button {
	text-align: center;
}
.hold-btn.hold-hide {
	display: none !important; 
}
.book-btn.hold-hide {
	float: none !important;
	display: inline-block !important;
}
li.alert-note-info {
	list-style-type: disc;
}
a.blue,
.full-content a,
.resort-detail .info-detail .details li p a {
    color: #009bd9;
}
.resort-detail .info-detail {
	padding-left: 7%;
}
.details {
	width: 66%;
	display: inline-block;
}
.ta-badge {
	background: none #fff;
	display: inline-block;
	width: 30%;
	box-shadow: 3px 3px 10px #ccc;
	text-align: center;
	padding: 0.3rem .75rem .2rem;
	vertical-align: top;
	margin-left: 3%;
}
.ta-badge img {
	width: 100%;
}
.ta-badge p {
	margin-bottom: 5px;
}
.ta-star {
	max-width: 86px;
}
.exchange-credit .exchange-list {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
}
.exchange-credit .exchange-list::before {
	display: none;
}
.exchange-credit .exchange-list .exchange-item {
	width: auto;
	padding-right: 0;
}
/*removing the animation on the search form becuase it isn't working well with IE */
.w-banner .dgt-btn,
.w-banner .w-options {
	opacity: 1;
	filter: alpha(opacity=1);
	-webkit-animation: none !important;
	-moz-animation: none !important;
	-o-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
}
@media screen and (max-width: 480px) {
	.details {
		width: 100%;
	}
	.ta-badge {
		width: 100%;
		max-width: 200px;
	}
}
.nav-list {
	display: flex;
	justify-content: space-between;
	flex-flow: nowrap;
}
.header .nav-list {
	max-width: none;
	width: calc(100% - 115px);
	margin: 0 0 0 115px;
}
@media screen and (max-width: 758px){
	.nav-list {
		display: none;
	}	
}
.header .nav-list li {
	margin-right: 0;
}
.header .nav-list li.logged-in-nav {
  display: none;
}
.logged-in .header .nav-list li.logged-in-nav {
  display: inline-block;
}
.cr-for-miles[disabled] {
	background-color: rgba(240,235,234,.5) !important;
}
.gform_wrapper input[type="checkbox"],
.gform_wrapper input[type="radio"] {
	border: 1px solid;
	height: 15px !important;
	width: 15px !important;
	margin-top: 0 !important;
}
.gform_wrapper input[type="checkbox"] {
	-webkit-appearance: checkbox !important;
	-moz-appearance: checkbox !important;
	-ms-appearance: checkbox !important;
	-o-appearance: checkbox !important;
	appearance: checkbox !important;
}
.gform_wrapper input[type="radio"] {
	-webkit-appearance: radio !important;
	-moz-appearance: radio !important;
	-ms-appearance: radio !important;
	-o-appearance: radio !important;
	appearance: radio !important;
}
.comiseo-daterangepicker {
	z-index: 1000000;
}
#customrequest-profile {
	position: relative;
}
.mcr-moved {
	top: -400px !important;
}
.bigorblock {
	text-align: center;
	padding: 5px;
	margin: 35px 0 15px;
	background: none #ccc;
	color: #fff;
	font-size: 25px;
	letter-spacing: 2px;
}
 /* Tooltip container */
.gpx_form_tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
	z-index: 100;
	float: right;
	cursor: pointer;
}

/* Tooltip text */
.gpx_form_tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip-left {
    top: -25px;
    bottom: auto;
    right: 128%;
}
/* Tooltip arrow */
.gpx_form_tooltip .tooltip-left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #555;

}

/* Show the tooltip text when you mouse over the tooltip container */
.gpx_form_tooltip.visible .tooltiptext,
.gpx_form_tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
} 
.crrangepicker_container label {
    font-size: 13px !important;
    top: 0 !important;
    line-height: 24px !important;
}
.crrangepicker_container button.comiseo-daterangepicker-triggerbutton {
    display: block;
    margin-top: 5px;
    min-width: 225px;
	padding: 10px;
    width: 100%;
}
#restrictedTC {
	font-size: 11px;
	-webkit-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	  -moz-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	    -o-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	       transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
	min-height: 50px;
}
#restrictedTC.hasRestricted {
	color: #ff0000;
	font-size: 15px;
}
.copyText {
	cursor: copy;
}
.gp-preferred {
  margin: 0px auto;
  width: 94%;
  max-width: 1200px;
}
h3 {
  padding: 15px 0;
  color: #041B34;
}
.w-banner .w-box .gsub-title h3 {
	color: #fff;
}
.vc_column-inner {
    margin: 0 auto;
    max-width: 1200px;
}
#modal-guest-fees {
	heigth: auto;
}
.page-id-97 .vc_column-inner {
	max-width: none;	
}
#c.vc_column-inner {
    margin: 0 auto;
    max-width: 1040px;
    width: 98%;
}
#autopopulate {
	padding: 25px 0;
	cursor: pointer;
}
.fauxCheckbox {
    font-size: 18px;
    line-height: 20px;
    padding-left: 45px;
	position: relative;
}
.fauxCheckbox::before, .fauxCheckbox::after {
    content: "";
    display: inline-block;
    height: 38px;
    left: 0;
    position: absolute;
    top: -10px;
    vertical-align: middle;
    width: 38px;
	border: 1px solid #000;
}
.fauxCheckbox::after {
	border: medium none;
    color: #009ad6;
    content: "L";
    font-size: 0;
    font-weight: bold;
    left: 2px;
    line-height: 38px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: -10px;
    transform: scaleX(-1) rotate(-35deg);
    transition: all 0.15s ease 0s;
    visibility: hidden;
}
.fauxCheckbox.checked::after {
    font-size: 22px;
    opacity: 1;
    visibility: visible;
}
.pg-hero h2 {
    margin: auto;
    max-width: 330px;
    padding-top: 20px;
    position: relative;
    width: 100%;
}
.pg-hero h2::before {
    background-color: #fff;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 90px;
}
.pg-hero h2::after {
    background-color: #fff;
    bottom: -20px;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 90px;
}
.pg-hero .gtitle {
    overflow: inherit;
    white-space: initial;
	filter:alpha(opacity=0);
	-webkit-animation:fadeInDown 0.8s 1 1s ease forwards ;
	-moz-animation:fadeInDown 0.8s 1 1s ease forwards ;
	-ms-animation:fadeInDown 0.8s 1 1s ease forwards ;
	-o-animation:fadeInDown 0.8s 1 1s ease forwards ;
	animation:fadeInDown 0.8s 1 1s ease forwards;
	opacity: 0;
}
.pg-hero h3.w-options {
    font-family: "ralewaybold",sans-serif;
    font-size: 18px;
    margin-top: 50px;
    text-transform: none;
	filter:alpha(opacity=0);
	-webkit-animation:fadeInUp .45s 1 1.6s ease forwards;
	-moz-animation:fadeInUp .45s 1 1.6s ease forwards;
	-ms-animation:fadeInUp .45s 1 1.6s ease forwards;
	-o-animation:fadeInUp .45s 1 1.6s ease forwards;
	animation:fadeInUp .45s 1 1.6s ease forwards;
    opacity: 0;
    position: relative;
	color:#fff;
}
.gpx-content p {
    font-size: 17px;
    line-height: 29px;
}
.resort-availablity-view {
    margin-top: 10px;
}
.ra-loading.fa.fa-refresh.fa-spin {
    font-size: 32px;
    text-align: center;
    width: 100%;
}
#resort-calendar-filter {
    float: left;
    margin: 45px 45px 45px 0;
}
#resort-calendar {
    display: inline-block;
    width: 70%;
	margin: 45px 0;
}
#resort-calendar-filter h3 {
    margin: 15px 0 18px;;
}
.status li .status-ExchangeWeek::before {
    background: #8906d5 none repeat scroll 0 0;
    color: white;
    content: "E";
}
.status li .status-BonusWeek::before, 
.status li .status-RentalWeek::before {
    background: #ec8f09 none repeat scroll 0 0;
    border-radius: 100%;
    color: white;
    content: "R";
}
.modal-special .w-modal > p {
    padding: 20px 30px;
}
.w-item-view {
	display: none;
}
.w-item-view.filtered {
	display: block;
}
.w-item-view.filtered.remove-modal {
	display: none;
}
.w-filter.dgt-container {
    position: relative;
}
#sticky.scrolled {
    position: fixed;
    right: 20px;
    top: 65px;
    width: 655px;
    z-index: 100;
}
#modal-filter.scrolled {
    position: fixed;
    right: 20px;
    top: 65px;
	z-index: 101;
}
.col-md-55, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
.row {
    margin-left: -10px;
    margin-right: -10px;
}
#tabs_box .ui-widget-content {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #000;
    max-height: none;
	text-indent: unset;
}
.no-bt-bs-tabs .ui-widget-header {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #000;
    border-radius: 0;
    border-style: none none solid;
    border-width: medium medium 1px;
}
.no-bt-bs-tabs.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background: #152136 none repeat scroll 0 0;
}
.no-bt-bs-tabs .ui-state-active a, 
.no-bt-bs-tabs .ui-state-active a:link, 
.no-bt-bs-tabs .ui-state-active a:visited {
	color: #fff;
}
.no-bt-bs-tabs .ui-state-hover, 
.no-bt-bs-tabs .ui-widget-content .ui-state-hover, 
.no-bt-bs-tabs .ui-widget-header .ui-state-hover, 
.no-bt-bs-tabs .ui-state-focus, 
.no-bt-bs-tabs .ui-widget-content .ui-state-focus, 
.no-bt-bs-tabs .ui-widget-header .ui-state-focus {
    background: #009ad6;
    border: none;
}
.no-bt-bs-tabs .ui-state-hover a, 
.no-bt-bs-tabs .ui-state-hover a:hover, 
.no-bt-bs-tabs .ui-state-hover a:link, 
.no-bt-bs-tabs .ui-state-hover a:visited, 
.no-bt-bs-tabs .ui-state-focus a, 
.no-bt-bs-tabs .ui-state-focus a:hover, 
.no-bt-bs-tabs .ui-state-focus a:link, 
.no-bt-bs-tabs .ui-state-focus a:visited {
    color: #fff;
}
.btn-primary {
    border: 1px solid;
    font-size: 20px;
    line-height: 38px;
    padding: 10px 20px 5px;
}
.btn-secondary {
	border: 1px solid;
	line-height: 12px;
	font-size: 14px;
	padding: 2px 5px;
	white-space: nowrap;
}
.txt-right {
	text-align: right;
}
.white-text {
	color: #fff;
}
.mach.white-text {
	color: #fff !important;
}
.tabs .head-tab ul li.third-tab {
	width: 33%;
}
.member-dashboard .member-form {
	margin-top: 0;
}
.error.check label::before {
    border: 1px solid #ff0000;
}
.w-item-view .w-list-result .item-result .w-cnt-result .result-head {
	padding-right: 0;
}
#couponError {
    clear: both;
}
.payment-error {
    color: #ff0000;
}
.booking-confirmation .list .item ul li > div p:last-child {
    width: auto;
}
.transaction-head {
	margin-top: 65px;
}
.member-dashboard {
    margin: 0 auto;
    max-width: 1200px;
}
.hold-error {
    color: #ff0000;
    font-size: 23px;
    margin-bottom: 20px;
}
.edit-profile-btn {
    background-color: transparent;
    border: 1px solid #152136 !important;
    color: #000;
    font-size: 20px;
    height: 38px;
    line-height: 38px !important;
    margin-top: 15px;
    text-align: center;
    transition: all 0.45s ease 0s !important;
    width: 190px;
}
.edit-profile-btn:hover {
    background-color: #009ad6;
    border: 1px solid #009ad6;
    color: #fff;
}
.pwMsg {
    clear: both;
    display: inline-block;
    margin: 15px;
}
.result-head {
	position: relative;
}
.result-head .status {
	padding-right: 10px;
	position: absolute;
	top: 0;
	right: 0;
}
.w-item-view .w-list-result .item-result .w-cnt-result .result-head p strong {
    font-size: 22px;
}
.page-template-page-resort-profile .w-item-view .w-list-result .item-result .w-cnt-result .result-head .mach strong {
	font-size: 18px;
}
.w-item-view .w-list-result .item-result .w-cnt-result .result-head p {
	position: relative;
	z-index: 100;
}
.modal .w-login .gform_wrapper .material .gform_body .material-input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: 50px;
    text-indent: 20px;
}
#modal-deposit,
#modal-custom-request {
    box-shadow: 0 0 15px #333;
    height: auto;
    position: absolute;
    top: -40px;
}
#modal-deposit .member-form {
	margin-top: 60px;
}
.deposit-form {
	color: #333;
}
.deposit-form {
    background: white none repeat scroll 0 0;
    margin-bottom: 100px;
    padding: 5% 6% 6%;
    position: relative;
}
.deposit-form h2 {
    font-size: 35px;
    font-weight: 100;
}
.deposit-form .dgt-btn,
.guest-fee-confirm,
.gform_button.button {
    background-color: #009bd9;
    border: 1px solid #152136;
    color: #fff;
    font-size: 20px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    transition: all 0.45s ease 0s;
    width: 195px;
	padding: 1px 20px;
}
.guest-fee-cancel {
	background-color: #fff;
	color: #000;
}
.deposit-form .dgt-btn:hover,
.guest-fee-confirm:hover,
.gform_button.button:hover {
    background-color: #009ad6;
    border: 1px solid #009ad6;
    color: #fff;
}
.deposit-bank-boxes .selected {
    background-color: rgba(0, 155, 217, 0.1);
    border-color: #009bd9;
	text-align:center;
}
.deposit-bank-boxes li {
	text-align:center;
}
.deposit-bank-boxes .twoforone {
	display: none;	
	margin-top: 10px;
}
.deposit-bank-boxes .twoforone.twoforone-coupon.enable {
	display: block;
}
.reswrap,
.twoforone {
	text-align: center;
}
.reswrap {
	margin: 20px auto;
}
input.resdisswitch,
.twoforone input {
	height: 30px;
	width: 140px;
	margin-bottom: 5px;
	text-align: center;
	background: none #fff;
	border: 1px solid #000;
}
.head-credit.disabeled {
    display: none;
}
.switch-deposit {
	display: none;
}
.vc_column_container > .vc_column-inner {
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.w-modal.stupidbt-reset > p {
    color: #fff;
    font-size: 15px;
}
.w-resulst-reset.w-results .w-options .cnt {
    margin-right: 2%;
    width: 48%;
}
.w-resulst-reset.w-results .w-options .cnt .SumoSelect {
    width: 50% !important;
}
.md-boxes {
    margin-top: 100px;
    text-align: center;
}
.content-inner {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    font-size: 22px;
}
.content-heading {
    margin: 100px;
    text-align: center;
}
.md-box {
    display: inline-block;
    margin: 0 20px;
    max-width: 200px;
    vertical-align: top;
}
a.md-btn {
    background: #3c4c66 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 19px;
    margin-bottom: 20px;
    padding: 61px 0;
    text-align: center;
    text-indent: unset !important;
}
.comiseo-daterangepicker-triggerbutton {
	display: none;
}
.single-offer .PageRes .btn_phom .btn.left {
    display: inline-block;
    float: none;
}
.hold-msg {
	padding: 5px;
}
.comiseo-daterangepicker-triggerbutton.ui-button.ui-corner-all.ui-widget.comiseo-daterangepicker-top {
    padding: 10px;
}
.w-item-view {
	position: relative;
}
.remove-from-cart {
    color: #000;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 30px;
}
#modal-hold-alert {
    height: auto;
    padding: 0 10px 25px;
}
.dgt-btn.active.book-btn {
    border: 1px solid;
    letter-spacing: 1px;
    margin-top: 5px;
    padding: 3px 14px;
}
.dgt-btn.submit-custom-request {
    background: transparent none repeat scroll 0 0;
    border: 1px solid;
    float: left;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px 25px;
}
.check .hold-error .dgt-btn {
    width: auto;
}
.dgt-btn.submit-custom-request:hover {
    background: #009AD6;
    color: #fff;
}
.bk-path-headline {
    display: inline-block;
    width: 49%;
}
#expand_4 #availiblity-calendar-btn {
    position: relative;
	z-index: 10;
}
#expand_4 #availiblity-calendar-btn a {
    position: absolute;
    top: 13px;
    right: 11px;
    background: none #f8c337;
}
#expand_4 #availiblity-calendar-btn a:hover {
    background: none #000;
    border-color: #000;
}
.show-more-btn.dgt-btn {
	float: none;
	padding: 0 45px;	
	width: auto;
	display: inline-block;
}
#availability-cards .dgt-btn.hold-btn {
	padding-left: 0;
}
.inlinebox {
    text-align: center;
    margin-top: 15px;
}
.promotional .w-cnt {
	padding: 3% 2% 4%;
}
.promotional .w-cnt .gwrapper {
    display: inline-block;
    float: none;
    vertical-align: top;
    width: 45%;
}
.dgt-btn.show-availability-btn {
	max-width: 275px;
}
@media screen and (max-width: 550px) {
	#availability-cards .w-item-view .w-list-result .item-result {
		width: 100%;
	}
}
.promotional .w-cnt .gwrapper .ginput_container {
    width: 40%;
}
.promotional .w-cnt .gwrapper .ginput_container:last-child {
    margin-top: 0;
}
.promotional .w-cnt .gwrapper:first-child .ginput_container:first-child {
    margin-top: -10px;
}
.promotional .w-cnt {
    background: #fff none repeat scroll 0 0;
    color: #333;
}
.promotional .w-cnt .gwrapper .ginput_container .material-input input {
    color: #333;
}
.promotional .w-cnt .gwrapper .ginput_container .material-input label {
    color: #333;
}
.promotional .w-cnt .gwrapper .ginput_container .dgt-btn {
    border-color: #333;
    color: #333;
}
#removeCoupon {
	cursor: pointer;
}
.exchange-credit .exchange-result {
    position: relative;
    visibility: visible;
}
a.btn-maps {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    transition: all 0.45s ease 0s;
    background: none #039BD6;
    color: #fff;
}
.btn-maps:hover {
    background: #152136;
}
.deposit-form select {
    -moz-appearance: menulist !important;
	-webkit-appearance: menulist !important;
     appearance: menulist !important;
}
.deposit-bank-boxes > li {
    display: inline-block;
    margin: 1%;
    border: 1px solid #ccc;
    padding: 20px 10px ;
	-webkit-transition: all 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
   -moz-transition: all 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
     -o-transition: all 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
        transition: all 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
}
.deposit-bank-boxes > li .disswitch[type="text"]:disabled {
    display: none;
}
.deposit-bank-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin: 20px 0;
}
select.sel_unit_type {
    padding: 4px;
    border: 1px solid;
}
.mindatepicker.disswitch {
	border: 1px solid #000;
}
.dgt-btn.bank-select {
    background: #009bd9 none repeat scroll 0 0;
    border-color: #009bd9;
    color: #fff;
    height: auto;
    margin: 10px 0 15px;
    padding: 0 20px;
    width: auto;
}
.disswitch {
    height: 30px;
    left: 50%;
    margin-left: -70px;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 140px;
}
#ui-datepicker-div {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 0 20px #000;
    padding: 7px;
}
#ui-datepicker-div.ui-widget-content {
	text-indent: 0;
}
#ui-datepicker-div .ui-widget-header {
	background: -moz-linear-gradient(top,  rgba(4,27,52,1) 0%, rgba(4,27,52,0.93) 50%, rgba(4,27,52,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(4,27,52,1) 0%,rgba(4,27,52,0.93) 50%,rgba(4,27,52,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(4,27,52,1) 0%,rgba(4,27,52,0.93) 50%,rgba(4,27,52,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#041b34', endColorstr='#041b34',GradientType=0 ); /* IE6-9 */
	border-color: #041b34;	
}
#ui-datepicker-div th {
    color: #009db9;
}
#ui-datepicker-div .ui-state-highlight {
    background: #009bd9 none repeat scroll 0 0;
    color: #041b34;
}
#ui-datepicker-div .ui-state-hover {
	background: none;
	border: none;
}
.status-block {
	margin-top: 25px;
}
.status.status-block > li {
    margin-bottom: 15px;
    width: 100%;
}
#alertMsg {
    padding: 0 15px;
}
label.gpx-disabled::before,
a.gpx-disabled,
button.gpx-disabled,
.submit-guestInfo.disabled,
input.gpx-disabled {
    background: #ccc none repeat scroll 0 0 !important;
    border-color: #000 !important;
    color: #000 !important;
    cursor: not-allowed !important;	
}
.how-it-works-menu-wrapper {
    margin-top: -76px;
    text-align: center;
}
@-moz-document url-prefix() {
   margin-top: -77px;
}
.hiw-menu {
}
.hiw-menu li {
    background: #009bd9 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    margin: 0 5px;
    text-transform: uppercase;
}
.hiw-menu li a {
	color: #000;
    width: 200px;
    padding: 10px;
    display: inline-block;
}
.hiw-menu .current-menu-item {
    background: #fff none repeat scroll 0 0;
}
.page-id-241 .gform_wrapper .top_label input.medium, 
.page-id-241 .gform_wrapper .top_label select.medium {
    width: 100%;
}
#newpwform .dgt-btn,
#my-profile .dgt-btn {
    border: 1px solid #000;
    color: #000;
    height: 40px;
    line-height: 40px;
    position: relative;
    transition: all 0.45s ease 0s;
    padding: 0 45px;
}
.list-button .dgt-btn.active.book-btn {
	margin-top: 0;
	padding-top: 0;
}
.view-profile .title {
	padding-top: 20px;
}
/* .modal {
	text-align: center;
} */
#modal-profile {
    position: absolute;
    top: 40px;
}
.modal .close-modal {
	z-index: 100;
}
.floated-indent {
    float: left;
    width: 50%;
}
.floated-indent > li {
    display: inline-block;
}
.floated-indent > li:first-child {
    padding-right: 10px;
    vertical-align: top;
    width: auto !important;
}
.floated-indent >li:last-child {
    width: 75% !important;
}

/* Form overrides */
#gform_2 input[type="radio"] {
	-webkit-appearance: radio !important;
    -moz-appearance: radio !important;
    -ms-appearance: radio !important;
    -o-appearance: radio !important;
    appearance: radio !important;
}
#gform_3 input[type="radio"] {
    -webkit-appearance: radio !important;
    -moz-appearance: radio !important;
    -ms-appearance: radio !important;
    -o-appearance: radio !important;
    appearance: radio !important;
}
#gform_2 input[type="checkbox"] {
    -webkit-appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    -ms-appearance: checkbox !important;
    -o-appearance: checkbox !important;
    appearance: checkbox !important;
}
#gform_3 input[type="checkbox"] {
    -webkit-appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    -ms-appearance: checkbox !important;
    -o-appearance: checkbox !important;
    appearance: checkbox !important;
}
.descrip .status {
    display: inline-block;
    float: none;
    margin-left: 29px;
    padding-top: 8px;
    vertical-align: top;
}
table.dataTable thead th {
    text-align: left;
	padding: 10px;
}
/* footer override */

.footer .dashboard {
    display: block;
}

.footer .dashboard {
    display: block;
}

.footer .w-form {
    left: 0;
    position: absolute;
    top: 25%;
	padding-bottom: 20px;
}
.footer .w-social {
    position: absolute;
    right: 0;
    top: 25%;
    width: 20%;
}
.footer .w-menu {
    float: none;
    max-width: 450px;
    padding: 0;
    position: relative;
    width: 100% !important;
}
.footer .w-social .gpx {
    display: block;
}
.footer .w-menu .gpx {
    display: none;
}
.footer .div-login .user {
    display: inline-block;
}
.footer-d {
    display: none;
}
.footer .w-footer-list .w-footer-item.w-menu {
    float: none;
}
.footer .w-footer-list .w-footer-item.w-social {
    width: 20%;
}

@media screen and (max-width: 1000px) {
	.footer .w-social,
	.footer .w-form {
	    top: 10%;
	}
}
@media screen and (max-width: 960px) {
	.footer .w-social {
	    width: 30%;
	}
	.footer .w-social {
	    width: 35%;
	}
	.footer .w-menu {
	    margin: 0;
	    padding-left: 5%;
	    padding-top: 45%;
	}
	.footer .w-footer-list .w-footer-item.w-social {
		width: 40%;
	}
	.footer .w-form {
	    left: 5%;
	    width: 40%;
	    z-index: 9;
	}
}
@media screen and (max-width: 768px) {
	.w-resulst-reset.w-results .w-options .cnt {
		width: auto;
		margin-right: 0;
	}
	.footer .w-menu {
	    margin: 0;
	    padding-left: 10%;
	    padding-top: 0;
	    text-align: left;
	}
	.footer .w-footer-list .w-social .phone {
	    margin: 0 0 40px;
	    position: relative;
	    right: 0;
	    top: 0;
	}
	.footer .w-footer-list .w-form .user a {
	    display: block;
	    padding: 0 0 0 20px;
	}
	.footer .w-footer-list .w-form a {
	    display: block;
	    float: none;
	    margin-left: 0;
	}
	.footer .w-footer-list .w-footer-item:last-child {
	    margin-top: 150px;
	}
	.footer .div-login .user {
	    display: block;
	    float: none;
	}
	.footer .w-footer-list {
	    padding: 130px 0;
	}	
	.footer .w-footer-item.w-form {
	    top: 15%;
	}
	.footer .w-footer-item.w-form a.dgt-btn.dgt-login {
	    top: -50px;
	}
}
@media screen and (max-width: 600px) {
	.footer .w-footer-list {
	    padding: 150px 0 130px;
	}
	.hidden-more-button.dgt-btn.result-resort-availability {
	    font-size: 15px !important;
	    width: 80%;
	    text-align: center;
	}	
}
@media screen and (max-width: 480px) {
	.w-item-view .w-list-result {
	    margin-bottom: 60px;
	}
	.w-item-view .w-list-result .item-result {
		width: 100%;
	}
    .status li {
        width: 100% !important;
        margin-bottom: 10px;
        padding: 5px;
        
    }
    .status li div {
        height: auto;
    }
	.footer .w-social {
	    width: 45%;
		margin: 220px 0 0 27px;
	    position: relative;
	}
	.footer .w-footer-list .w-footer-item:first-child {
	    padding-left: 0;
	}
	.footer .w-menu {
	    max-width: 180px;
	}
	.footer .w-footer-list .w-social .phone {
	    font-size: 15px;
	}
	.nav-footer {
	    padding-top: 90px;
	}
	.div-login .user {
	    font-size: 13px;
	}
	.footer .w-footer-list {
	    padding: 40px 0;
	}
	.footer .div-login .user {
	    padding-bottom: 10px;
	}
}
@media screen and (max-width: 400px){
    .deposit-bank-boxes > li {
        width: 100%;
    }
	.view-profile .title-close i {
	    font-size: 13px;
	    height: 20px;
	    line-height: 1.4;
	}
}
@media screen and (max-width: 600px){
	.header .top-nav .access .dgt-btn:first-child {
		position: relative;
		
}
@media (max-width: 768px)
{
	.bk-path-headline:nth-child(2) {
	    display: none;
	}
	.promotional .w-cnt .gwrapper .ginput_container {
	    width: 100%;
	}
	.gwrapper {
		width: 60% !important;
	}	
	.promotional .w-cnt .gwrapper .ginput_container {
	    float: none;
	    margin: 0 auto;
	    width: 100% !important;
	}
	.hiw-menu li {
		display: block;
		margin: 0px auto;
		width: 300px;
	}
	#sticky.scrolled {
	    right: auto;
	    width: auto;
	}
	#modal-filter.scrolled {
		left: 0;
	    right: auto;
	    top: 0 !important;
	}
	#modal-filter.scrolled h2,
	#modal-filter.scrolled h3,
	#modal-filter.scrolled label,
	#modal-filter.scrolled .SumoSelect.sumo_mySelect,
	#modal-filter.scrolled .dgt-btn {
		font-size: 12px;
	}
	#modal-filter.scrolled .dgt-btn {
		height: 30px;
		line-height: 30px;
		width: 100px;
	}
}
@media print {
    .print-el {
        background-color: white;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    }
    .header,
    .w-banner,
    .footer {
		display: none;
    }
}
@media (min-width: 1200px) {
	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	    min-height: 1px;
	    padding-left: 15px;
	    padding-right: 15px;
	    position: relative;
	}
	.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	    float: left;
	}
	.col-xs-12 {
	    width: 100%;
	}
	.col-xs-11 {
	    width: 91.6667%;
	}
	.col-xs-10 {
	    width: 83.3333%;
	}
	.col-xs-9 {
	    width: 75%;
	}
	.col-xs-8 {
	    width: 66.6667%;
	}
	.col-xs-7 {
	    width: 58.3333%;
	}
	.col-xs-6 {
	    width: 50%;
	}
	.col-xs-5 {
	    width: 41.6667%;
	}
	.col-xs-4 {
	    width: 33.3333%;
	}
	.col-xs-3 {
	    width: 25%;
	}
	.col-xs-2 {
	    width: 16.6667%;
	}
	.col-xs-1 {
	    width: 8.33333%;
	}
}


@media screen and (max-width: 768px)
{
	#resort-calendar {
	    display: inline-block;
	    width: 100%;
	}
}
@media (min-width: 768px) {
	col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
	    float: left;
	}
	.col-sm-12 {
	    width: 100%;
	}
	.col-sm-11 {
	    width: 91.6667%;
	}
	.col-sm-10 {
	    width: 83.3333%;
	}
	.col-sm-9 {
	    width: 75%;
	}
	.col-sm-8 {
	    width: 66.6667%;
	}
	.col-sm-7 {
	    width: 58.3333%;
	}
	.col-sm-6 {
	    width: 50%;
	}
	.col-sm-5 {
	    width: 41.6667%;
	}
	.col-sm-4 {
	    width: 33.3333%;
	}
	.col-sm-3 {
	    width: 25%;
	}
	.col-sm-2 {
	    width: 16.6667%;
	}
	.col-sm-1 {
	    width: 8.33333%;
	}
	.col-sm-pull-12 {
	    right: 100%;
	}
	.col-sm-pull-11 {
	    right: 91.6667%;
	}
	.col-sm-pull-10 {
	    right: 83.3333%;
	}
	.col-sm-pull-9 {
	    right: 75%;
	}
	.col-sm-pull-8 {
	    right: 66.6667%;
	}
	.col-sm-pull-7 {
	    right: 58.3333%;
	}
	.col-sm-pull-6 {
	    right: 50%;
	}
	.col-sm-pull-5 {
	    right: 41.6667%;
	}
	.col-sm-pull-4 {
	    right: 33.3333%;
	}
	.col-sm-pull-3 {
	    right: 25%;
	}
	.col-sm-pull-2 {
	    right: 16.6667%;
	}
	.col-sm-pull-1 {
	    right: 8.33333%;
	}
	.col-sm-pull-0 {
	    right: auto;
	}
	.col-sm-push-12 {
	    left: 100%;
	}
	.col-sm-push-11 {
	    left: 91.6667%;
	}
	.col-sm-push-10 {
	    left: 83.3333%;
	}
	.col-sm-push-9 {
	    left: 75%;
	}
	.col-sm-push-8 {
	    left: 66.6667%;
	}
	.col-sm-push-7 {
	    left: 58.3333%;
	}
	.col-sm-push-6 {
	    left: 50%;
	}
	.col-sm-push-5 {
	    left: 41.6667%;
	}
	.col-sm-push-4 {
	    left: 33.3333%;
	}
	.col-sm-push-3 {
	    left: 25%;
	}
	.col-sm-push-2 {
	    left: 16.6667%;
	}
	.col-sm-push-1 {
	    left: 8.33333%;
	}
	.col-sm-push-0 {
	    left: auto;
	}
	.col-sm-offset-12 {
	    margin-left: 100%;
	}
	.col-sm-offset-11 {
	    margin-left: 91.6667%;
	}
	.col-sm-offset-10 {
	    margin-left: 83.3333%;
	}
	.col-sm-offset-9 {
	    margin-left: 75%;
	}
	.col-sm-offset-8 {
	    margin-left: 66.6667%;
	}
	.col-sm-offset-7 {
	    margin-left: 58.3333%;
	}
	.col-sm-offset-6 {
	    margin-left: 50%;
	}
	.col-sm-offset-5 {
	    margin-left: 41.6667%;
	}
	.col-sm-offset-4 {
	    margin-left: 33.3333%;
	}
	.col-sm-offset-3 {
	    margin-left: 25%;
	}
	.col-sm-offset-2 {
	    margin-left: 16.6667%;
	}
	.col-sm-offset-1 {
	    margin-left: 8.33333%;
	}
	.col-sm-offset-0 {
	    margin-left: 0;
	}
}
@media (max-width: 992px) {
	.g-w-modal .modal .close-modal {
	    margin-top: 23px;
	}
}
@media (min-width: 992px) {
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
	    float: left;
	}
	.col-md-12 {
	    width: 100%;
	}
	.col-md-11 {
	    width: 91.6667%;
	}
	.col-md-10 {
	    width: 83.3333%;
	}
	.col-md-9 {
	    width: 75%;
	}
	.col-md-8 {
	    width: 66.6667%;
	}
	.col-md-7 {
	    width: 58.3333%;
	}
	.col-md-6 {
	    width: 50%;
	}
	.col-md-5 {
	    width: 41.6667%;
	}
	.col-md-4 {
	    width: 33.3333%;
	}
	.col-md-3 {
	    width: 25%;
	}
	.col-md-2 {
	    width: 16.6667%;
	}
	.col-md-1 {
	    width: 8.33333%;
	}
	.col-md-pull-12 {
	    right: 100%;
	}
	.col-md-pull-11 {
	    right: 91.6667%;
	}
	.col-md-pull-10 {
	    right: 83.3333%;
	}
	.col-md-pull-9 {
	    right: 75%;
	}
	.col-md-pull-8 {
	    right: 66.6667%;
	}
	.col-md-pull-7 {
	    right: 58.3333%;
	}
	.col-md-pull-6 {
	    right: 50%;
	}
	.col-md-pull-5 {
	    right: 41.6667%;
	}
	.col-md-pull-4 {
	    right: 33.3333%;
	}
	.col-md-pull-3 {
	    right: 25%;
	}
	.col-md-pull-2 {
	    right: 16.6667%;
	}
	.col-md-pull-1 {
	    right: 8.33333%;
	}
	.col-md-pull-0 {
	    right: auto;
	}
	.col-md-push-12 {
	    left: 100%;
	}
	.col-md-push-11 {
	    left: 91.6667%;
	}
	.col-md-push-10 {
	    left: 83.3333%;
	}
	.col-md-push-9 {
	    left: 75%;
	}
	.col-md-push-8 {
	    left: 66.6667%;
	}
	.col-md-push-7 {
	    left: 58.3333%;
	}
	.col-md-push-6 {
	    left: 50%;
	}
	.col-md-push-5 {
	    left: 41.6667%;
	}
	.col-md-push-4 {
	    left: 33.3333%;
	}
	.col-md-push-3 {
	    left: 25%;
	}
	.col-md-push-2 {
	    left: 16.6667%;
	}
	.col-md-push-1 {
	    left: 8.33333%;
	}
	.col-md-push-0 {
	    left: auto;
	}
	.col-md-offset-12 {
	    margin-left: 100%;
	}
	.col-md-offset-11 {
	    margin-left: 91.6667%;
	}
	.col-md-offset-10 {
	    margin-left: 83.3333%;
	}
	.col-md-offset-9 {
	    margin-left: 75%;
	}
	.col-md-offset-8 {
	    margin-left: 66.6667%;
	}
	.col-md-offset-7 {
	    margin-left: 58.3333%;
	}
	.col-md-offset-6 {
	    margin-left: 50%;
	}
	.col-md-offset-5 {
	    margin-left: 41.6667%;
	}
	.col-md-offset-4 {
	    margin-left: 33.3333%;
	}
	.col-md-offset-3 {
	    margin-left: 25%;
	}
	.col-md-offset-2 {
	    margin-left: 16.6667%;
	}
	.col-md-offset-1 {
	    margin-left: 8.33333%;
	}
	.col-md-offset-0 {
	    margin-left: 0;
	}
}

@media (min-width: 1200px) {
	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
	    float: left;
	}
	.col-lg-12 {
	    width: 100%;
	}
	.col-lg-11 {
	    width: 91.6667%;
	}
	.col-lg-10 {
	    width: 83.3333%;
	}
	.col-lg-9 {
	    width: 75%;
	}
	.col-lg-8 {
	    width: 66.6667%;
	}
	.col-lg-7 {
	    width: 58.3333%;
	}
	.col-lg-6 {
	    width: 50%;
	}
	.col-lg-5 {
	    width: 41.6667%;
	}
	.col-lg-4 {
	    width: 33.3333%;
	}
	.col-lg-3 {
	    width: 25%;
	}
	.col-lg-2 {
	    width: 16.6667%;
	}
	.col-lg-1 {
	    width: 8.33333%;
	}
	.col-lg-pull-12 {
	    right: 100%;
	}
	.col-lg-pull-11 {
	    right: 91.6667%;
	}
	.col-lg-pull-10 {
	    right: 83.3333%;
	}
	.col-lg-pull-9 {
	    right: 75%;
	}
	.col-lg-pull-8 {
	    right: 66.6667%;
	}
	.col-lg-pull-7 {
	    right: 58.3333%;
	}
	.col-lg-pull-6 {
	    right: 50%;
	}
	.col-lg-pull-5 {
	    right: 41.6667%;
	}
	.col-lg-pull-4 {
	    right: 33.3333%;
	}
	.col-lg-pull-3 {
	    right: 25%;
	}
	.col-lg-pull-2 {
	    right: 16.6667%;
	}
	.col-lg-pull-1 {
	    right: 8.33333%;
	}
	.col-lg-pull-0 {
	    right: auto;
	}
	.col-lg-push-12 {
	    left: 100%;
	}
	.col-lg-push-11 {
	    left: 91.6667%;
	}
	.col-lg-push-10 {
	    left: 83.3333%;
	}
	.col-lg-push-9 {
	    left: 75%;
	}
	.col-lg-push-8 {
	    left: 66.6667%;
	}
	.col-lg-push-7 {
	    left: 58.3333%;
	}
	.col-lg-push-6 {
	    left: 50%;
	}
	.col-lg-push-5 {
	    left: 41.6667%;
	}
	.col-lg-push-4 {
	    left: 33.3333%;
	}
	.col-lg-push-3 {
	    left: 25%;
	}
	.col-lg-push-2 {
	    left: 16.6667%;
	}
	.col-lg-push-1 {
	    left: 8.33333%;
	}
	.col-lg-push-0 {
	    left: auto;
	}
	.col-lg-offset-12 {
	    margin-left: 100%;
	}
	.col-lg-offset-11 {
	    margin-left: 91.6667%;
	}
	.col-lg-offset-10 {
	    margin-left: 83.3333%;
	}
	.col-lg-offset-9 {
	    margin-left: 75%;
	}
	.col-lg-offset-8 {
	    margin-left: 66.6667%;
	}
	.col-lg-offset-7 {
	    margin-left: 58.3333%;
	}
	.col-lg-offset-6 {
	    margin-left: 50%;
	}
	.col-lg-offset-5 {
	    margin-left: 41.6667%;
	}
	.col-lg-offset-4 {
	    margin-left: 33.3333%;
	}
	.col-lg-offset-3 {
	    margin-left: 25%;
	}
	.col-lg-offset-2 {
	    margin-left: 16.6667%;
	}
	.col-lg-offset-1 {
	    margin-left: 8.33333%;
	}
	.col-lg-offset-0 {
	    margin-left: 0;
	}
}
.videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
}
.videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
}
}
/* footer updates -- DGT did not use css grid, we will use it now*/
.footer ul.w-footer-list {
    display: grid;
    grid-template-columns: [w-form] minmax(100px, 33%) [w-menu] minmax(100px, auto) [w-social] minmax(150px, auto);
    grid-column-gap: 12%
}
.footer .w-menu,
.footer .w-footer-list .w-footer-item:last-child,
.footer .w-form,
.footer .w-footer-list .w-footer-item,
.footer .w-footer-list .w-footer-item.w-social {
    float: none;
    width: auto !important;    
    position: relative;
    top: auto;
    padding: 0;
    margin: 0;
}
.footer .w-footer-list .w-footer-item.w-form {
    grid-area: w-form;

}
.footer .w-footer-list .w-footer-item.w-menu {
    grid-area: w-menu;
}
.footer .w-footer-list .w-footer-item.w-social {
    grid-area: w-social;
}
@media screen and (max-width: 960px) {
	.footer .w-form {
	    left: 0;
	    width: auto;
	}
}
@media screen and (max-width: 768px) {
    .footer ul.w-footer-list {
        width: 100%;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-template-areas:
            "w-form"
            "w-social";
        grid-row-gap: 10%;
	    text-align: center;
    }
    .footer .w-footer-list .w-social .phone {
        display: inline-block;
    }
    a.dgt-btn.dgt-login {
        left: 50%;
        transform: translate(-50%);
    }
}
@media screen and (max-width: 480px) {
    	.footer .w-footer-list {
	    padding: 150px 20px;
	}
	
	.deposit-bank-boxes {
	    grid-template-columns: 1fr;
	}
}

.perks-choose-donation .exchange-donate .exchange-result.exchangeNotOK{
	visibility: initial;
	position: relative;
	margin-top: 0;
	margin-bottom: 80px;
}
.perks-choose-donation .exchange-donate .exchange-result.exchangeNotOK a{
	text-decoration: underline;
}
#submit_perks_form{
	display: none;
}