@import 'general.scss';
@import 'icons.scss';
@mixin appearance ($value) {
	-webkit-appearance: $value;
	   -moz-appearance: $value;
	        appearance: $value;
}
// Menu responsive
.r-overlay{
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	z-index: 1000;
	width: 100%;
	height: 100%;
	visibility: hidden;
	@include opacity(0);
	cursor: pointer;
	@include transition(all 0.65s ease);
}
.w-nav{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 2em;
	z-index: 1001;
	color: white;
}
.menu-mobile{
	cursor: pointer;
	visibility: visible;
	@include opacity(1);
	@include transform(scale(1,1));
	@include transition(all 0.45s cubic-bezier(.89,1.5,.8,1.06));
}
.menu-mobile-close{
	cursor: pointer;
	position: fixed;
	top: 0;
	left: 0;
	visibility: hidden;
	@include opacity(0);
	@include transform(scale(0,0));
	@include transition(all 0.45s cubic-bezier(.89,1.5,.8,1.06));
}
.menu-responsive{
	width: 200px;
	height: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: -200px;
	background: $azul;
	z-index: 1000;
	padding-top: 2em;
	padding-top: 80px;
	@include transition(left 0.45s ease);
	&>li{
		a{
			display: block;
			height: 2em;
			line-height: 2em;
			padding-left: 1em;
			color: white;
			&:hover{
				background-color: $celeste;
			}
		}
		.active1{
			background-color: $celeste;
			
		}
	}
	.dashboard{
		display: none;
	}
	
	.u-submenu{
		display: none;
		&>li{
			&>a{
				text-indent: 1em;
			}
		}
	}
	.active{
		color: red;
	}
}

.logged-in .menu-responsive .dashboard{
	display: block;
}
.error_content{
	height: 500px;
	text-align: center;
	position: relative;
	h5{
		font-size: 38px;
		font-family: $ralewaysemibold;
		font-weight: normal;
		@include vertical-align(absolute);
	}
}
.active-menu{
	left: 0;
}
.active-overlay{
	visibility: visible;
	opacity: 0.8;
}
.active-menu-mobile{
	visibility: hidden;
	opacity: 0;
	@include transform(scale(0,0));
	@include transition(all 0.45s cubic-bezier(.89,1.5,.8,1.06));
}
.active-menu-mobile-close{
	visibility: visible;
	@include opacity(1);
	@include transform(scale(1,1));
}
.footer{
	position: relative;
	right: 0;
	@include transition(right 0.45s ease);
}
.active-cnt-wrapper,.active-footer{
	//right: -200px;
	overflow: hidden;
}
// Menu desktop
.message-box {
    position: relative;
    top: -20px;
    font-size: 16px;
}
.header{
	.nav-list{
		li{
			display: inline-block;
			position: relative;
		}
		.dashboard{
			display: none;
		}
	}
	.u-submenu{
		position: absolute;
		top: 1em;
		left: 0;
		display: none;
	}
}
.footer{
	.dashboard{
		display: none;
	}
	.w-social .gpx{
		display: none;
	}
	.w-menu .gpx{
		display: block;
	}

}
.active-session, .logged-in{
	.header .nav-list .dashboard{
		display: inline-block !important;
	}
	.footer{
		.dashboard{
			display: block !important;
		}
	}
}
.active-session, .logged-in{
	.header .nav-list .dashboard{
		display: inline-block !important;
	}
	.footer{
		.dashboard{
			display: block !important;
		}
	}
	.header .top-nav .access .user{
		display: inline-block;
	}

	.footer .w-form {
		position: absolute;
		top: 25%;
		left: 0;
	}
	.footer .w-social{
		position: absolute;
		top: 25%;
		right: 0;
		width: 20% !important;
	}
	.footer .w-menu{
	    position: relative !important;
	    padding-left: 0 !important;
	    padding: 0 0 !important;
	    width: 100% !important;
	    float: none !important;
	    max-width: 250px;
	}
	.footer .w-social .gpx{
		display: block;
	}
	.footer .w-menu .gpx{
		display: none;
	}

}


// Logo
.header{
	text-align: center;
	position: relative;
	z-index: 2;
	.top-nav, .nav-list{
		height: 64px;
		line-height: 64px;
		zoom: 1;
		&:after, &:before{
			content: '';
			display: table;
			clear: both;
		}
	}
	.top-nav{
		background: $azul;
		color: white;
		font-family: $montserrat;
		.dgt-container{
			max-width: 1200px;
			width: 98%;
			margin: auto;
			position: relative;
		}
		.phone{
			float: left;
			@include transition(all .45s ease);
			i, span{
				display: inline-block;
				vertical-align: middle;
			} 
			i{
				color: $celeste;
				font-size: 17px;
			}
			span{
				font-size: 15px;
			}
			&:hover{
				color: $celeste;
			}
		}
		.access{
			float: right;
			font-size: 13px;
			text-transform: uppercase;
			.dgt-btn{
				@include styl-btn(transparent, $celeste, white, white, $celeste, white, 30px);
				width: 125px;
				margin-left: 15px;
				line-height: 28px;
			}
			.user{
				display: inline-block;
				vertical-align: middle;
				line-height: 30px;
				text-transform: capitalize;
				position: relative;
				padding-left: 20px;
				font-size: 14px;
				top: -2px;
				&:before{
					content: '';
					background-image: url('../images/user.png');
					background-repeat: no-repeat;
					height: 18px;
					width: 18px;
					position: absolute;
					top: 8px;
					left: 0;
				}
			}
		}
		.signout{
			display: none;
		}
		.signin{
			display: inline-block;
		}
	}
	.w-logo{
		position: absolute;
		top: 90px;
		left: 0;
		figure{
			img{
				max-width: 100%;
				height: auto;
				vertical-align: top;
				display: inline-block;
			}
		}
	}
	.nav-list{
		font-family: $ralewaysemibold;
		text-transform: uppercase;
		text-align: right;
		max-width: 920px;
		width: 98%;
		margin: auto;
		li{
			margin-right: 50px;
			a{
				display: block;
				@include transition(all .45s ease);
				&:hover{
					color: $celeste;
				}
			}
			&:last-child{
				margin-right: 0;
			}
		}
	}
}
.footer{
	background: $azul;
	color: $blanco;
	.footer-cnt{
		max-width: 1200px;
		width: 98% !important ;
		margin: auto;
		position: relative;
	}
	.w-footer-list{
		@extend %clearfix;
		position: relative;
		padding: 100px 0 80px 0;
		.w-footer-item{
			float:left;
			width: 33.3333%;
			&:last-child{
				padding-left: 14%;
			}
		}
		.w-form{
			h2{
				font-family: $ralewaylight;
				font-size: 20px;
				padding-left: 20px;
			}
			a{
				padding-left: 20px;
				display: block;
			}
			input[type="submit"]{
				cursor: pointer;
				float: right;
				background: none;
				text-transform: uppercase;
				max-width: 120px;
				width: 100%;
				@include appearance(none);
				@include styl-btn(none, $celeste, white, white, $celeste, white, 30px );
				line-height: 1.5;
			}
			.material{
				.material-input{
					color: white;
					background: transparent;
					background: none;
					padding-top: 30px;
					label{
						color: $blanco;
						padding-left: 20px;
					}
					&:focus~label{
						color: $blanco;
					}
					input{
						color: white;
						text-indent: 20px;
					}
				}
				.material-bar{
					&:after, &:before{
						background: $celeste;
					}
				}
			}
		}
		.w-social{
			.phone{
				font-size: 20px;
				font-family: $montserrat;
				display: block; 
				max-width: 150px;
				margin: 0 0 40px;
				@include transition(all .45s ease);
				&:hover{
					color: $celeste;
				}
			}
			h3{
				font-family: $montserratbold;
				font-size: 16px;
				text-transform: capitalize;
				margin: 0 0 20px;
			}
			.gpx{
    			margin-top: 20px;
				a,p{
					font-family: $montserrat;
					font-size: 14px;
					text-transform: capitalize;
					display: block;
					margin: 0 0 16px;
				}
			}
		}
		.w-social-list{
			.nav-social{
				li{
					color: #1e242e;
					background: #8a909b;
					display: inline-block;
					vertical-align: top;
					width: 45px;
					height: 45px;
					position: relative;
					text-align: center;
					font-size: 23px;
					line-height: 45px;
					margin-right: 5px;
					@include transition(all .45s ease);
					margin-bottom: 10px;
					&:before,a{
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						width: 100%;
						height: 100%;
					}
					a{
						font-size: 0;
					}
					&:hover{
						background: $celeste;
					}
				}
			}
		}
		.w-menu{
			.nav-footer{
				margin: 0 0 80px;
				li{
					a{
						font-family: $ralewaysemibold;
						text-transform: uppercase;
					}
				}
			}
			a{
				@include transition(all .45s ease);
				&:hover{
					color: $celeste;
				}
			}
			a,p{
				font-family: $montserrat;
				font-size: 14px;
				text-transform: capitalize;
				display: block;
				margin: 0 0 16px;
			}
		}
	}
}
.scrolltop{
	position: absolute;
    top: -65px;
    right: 0px;
    width: 55px;
    height: 55px;
    background: $azul;
    text-align: center;
    display: block;
    font-size: 22px;
    @include transition(all .35s ease);
    @include opacity(0);
    overflow: hidden;




	
    .icon-upload{
		line-height: 55px;
		width: 100%;
		height: 100%;
		cursor: pointer;
		display: block;
	    transform: scale(1.2, 0.9);
	    font-weight: 100;
    }
    &:hover{
    	color: white;
    }
}
.scrolltop.active{
	@include opacity(1);
	visibility: visible;
}

.s-active{
	position: fixed !important;
	right: 8% !important;
	top: auto !important;
	z-index: 999 !important;
	bottom: 10px !important;
}
.modal{
	@include opacity(0);
	visibility: hidden;
	@include transition(all .45s ease);
	.close-modal{
		display: block;
		width: 30px;
		height: 30px;
		line-height: 30px;
		border: 1px solid #ccc;
		border-radius: 100%;
		cursor: pointer;
		position:absolute;
		top:10px;
		right:10px;
		i{
			font-size: 14px;
			color: white;
			text-align: center;
			display: block;
			line-height: 28px;
		}
	}
	a{
		text-decoration:underline;
	}
	.w-login{
		@include vertical-align(absolute);
		color: white;
		max-width: 395px;
		width: 90%;
		h2{
			font-family: $ralewaylight;
			margin: 0 0 40px;
		}
		.gform_wrapper{
			.material{
				.gform_body{
					.gform_fields{
						input{
							background: none;
							text-indent: 20px;
							color: white;
						}
						.gfield{
							background: none;
    						margin: 0 0 15px;
						}
						a{
							display: block; 
							text-align: left;
    						text-indent: 20px;
    						@include transition(all .35s ease);
	    					&:hover{
	    						color: $celeste;		
	    					}
						}

					}
					.material-input{
						background: none;
    					text-indent: 20px;
    					height: 50px;
						.material-bar{
							&:before, &:after{
								background: $celeste;
							}
						}
					}
					label{
						color: white;
					}
				}
				.gform_footer{
					margin-top: 60px;
					input[type="submit"]{
						background: none;
						border: 1px solid white;
						color: white;
						width: 130px;
						height: 30px;
						line-height: 1.5;
						text-align: center;
						text-transform: uppercase;
						float: right;
						@include transition(all .45s ease);
						&:hover{
							background: $celeste;
							border: 1px solid $celeste;
						}
					}
				}
			}
		}
	}
}
.g-w-modal{
	position: relative;
}
.modal{
	max-width: 800px;
	background: rgba(21, 33, 54, .85);
	position: fixed;
	top: 128px;
	left: 0;
	right: 0;
	width: 100%;
	height: 500px;
	margin: auto;
	z-index: 9;
}
.modal-filter{
	height: auto;
	top: 260px;
	position: absolute;
	max-width: 460px;
	width: 100%;
	right: 0;
	left: inherit;
	color: white;
	h2,h3{
		font-family: $ralewaysemibold;
		font-size: 18px;
	}
	h2{
    	margin: 0 0 25px;
	}
	h3{
		font-size: 16px;
    	text-transform: capitalize;
    	margin: 0 0 15px;
	}
	.SumoSelect{
		display: block;
		width: 100%;
		margin: 0 0 20px;
	}
	.SumoSelect > .CaptionCont{
		border: none;
		border-bottom: 1px solid #ccc;
    	border-radius: 0;
		background: none;
	}
	.SumoSelect:focus > .CaptionCont, 
	.SumoSelect:hover > .CaptionCont, 
	.SumoSelect.open > .CaptionCont{
		border: none;
		box-shadow: none;
		border-bottom: 1px solid #ccc;
	}
	.SumoSelect > .optWrapper{
		color: black;
		border: none;
		box-shadow: none;
		padding: 20px 20px;
		border-radius: 0;
	}
	.SumoSelect > .CaptionCont > span.placeholder{
		color: white;
		font-style: inherit;
	}
	.SumoSelect > .optWrapper > .options li label{
		line-height: 1.8;
	}
	.SumoSelect > .optWrapper > .options li.opt.disabled{
		display: none;
	}
	.SumoSelect > .optWrapper > .options::-webkit-scrollbar{
		width: 5px;
    	border-radius: 2px;
    	background: #ccc;
	}
	.SumoSelect > .CaptionCont > label > i{
		font-size: 22px;
		color: white;
		font-family: 'icomoon' !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		background: none;
		width: 22px;
		height: 22px;
		&:before{
			content: "\e608";
		}
	}
	.SumoSelect > .optWrapper > .options::-webkit-scrollbar-thumb{
		height: 18px;
		background: $celeste;
	}
	.SumoSelect > .optWrapper > .options li.opt:hover{
		background: white;
		color: black;
    	font-weight: 600;
	}
	.w-modal{
		padding: 60px 0;
	}
	.dgt-btn{
		@include styl-btn(transparent, $celeste, white, white, $celeste, white, 40px);
	    max-width: 140px;
	    width: 100%;
	    padding: 0 12px;
	}
	.block{
		max-width: 330px;
		width: 100%;
		margin: 0 auto 35px auto;
		&:last-child{
			margin: 0 auto;
		}
		.list-check{
			margin: 0 0 20px;
			li{
				margin: 0 0 10px;
				input[type="checkbox"]{
					display: none;
				}
				label{
					cursor: pointer;
					padding-left: 35px;
					position: relative;
					&:before, &:after{
						content: '';
						display: inline-block;
						vertical-align: middle;
						width: 20px;
						height: 20px;
						margin-right: 10px;
						position: absolute;
						top: 0;
						left: 0;
						@include transition(all .25s ease);
					}
					&:before{
						background: white;
						@include transform(scale(1));
						@include transition(all .15s ease);
					}
					&:after{
						content: 'L';
						color: white;
						top: -5px;
						left: -3px;
						font-size: 0;
						font-weight: bold;
						@include transform(scaleX(-1) rotate(-35deg));
					}
				}

				input[type="checkbox"]:checked+label::before{
					@include transform(scale(0));
				}	
				input[type="checkbox"]:checked+label::after{
					font-size: 18px;
				}
			}
		}
	}
}
.modal-alert{
	max-width: 460px;
	width: 100%;
	height: 135px;
	top: 170px;
	.w-modal{
		font-family: $montserratbold;
		font-size: 16px;
		text-align: center;
		color: white;
		margin-top: 40px;
		.icon-alert{
			width: 25px;
			height: 22px;
			margin: 0px auto 8px auto ;
			background: url('../images/alert.png');
		}
		p{
			text-align: center;
			display: block;
			margin: auto;
		}
	}
}

.active-modal{
	@include animation('bounceInDown 0.65s 1 0.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards');
}
.desactive-modal{
	@include opacity(1);
	visibility: visible;
	@include animation('bounceOutUp 0.65s 1 0.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards');
}
.div-login{
	display: none;
	.user,.dgt-btn{
		float:left;
	}
	.user{
		vertical-align: middle;
		line-height: 30px;
		text-transform: capitalize;
		position: relative;
		font-size: 14px;
		&:before{
			content: '';
			background-image: url('../images/user.png');
			background-repeat: no-repeat;
			height: 18px;
			width: 18px;
			position: absolute;
			top: 8px;
			left: 0;
		}
	}
	.dgt-btn{
		background-color: transparent;
		border: 1px solid #fff;
		color: #fff;
		height: 30px;
		line-height: 30px;
		-webkit-transition: all 0.45s ease;
		-moz-transition: all 0.45s ease;
		-ms-transition: all 0.45s ease;
		-o-transition: all 0.45s ease;
		transition: all 0.45s ease;
		width: 125px;
		margin-left: 15px;
		line-height: 1.5;
		text-align: center;
	}
}



.active-session, .logged-in{
	.header .top-nav .access .deposit{
		display: inline-block;
	}
	.div{
		display: none;
	}
	.div-login{
		display: block;
		.dgt-btn{
			padding: 3px !important;
			@include transition(all .35s ease);
			&:hover{
				background-color: #009ad6;
				border: 1px solid #009ad6;
				color: #fff;
			}
		}
	}
}




.active-session, .logged-in{
	.footer{
		.div-login{
			.user{
				display: inline-block;
			}
		}
	}	
	.footer-d{
		display: none;
	}

}	

.active-session, .logged-in{
	.header{
		.top-nav {
			.access {
				.signout{
					display: inline-block;
				}
				.signin{
					display: none;
				}
			}
		}
	}
} 

a.dgt-btn.dgt-login{
	cursor: pointer;
    float: right;
    background: none;
    text-transform: uppercase;
    max-width: 120px;
    width: 100%;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    background-color: none;
    border: 1px solid #fff;
    color: #fff;
    height: 30px;
    line-height: 30px;
    @include transition(all 0.45s ease);
    line-height: 1.5;
    padding-left: 0 !important;
    text-align: center;
	display: none !important;
    position: absolute;
    bottom: 120px;
    left: 4%;
    &:hover{
		background-color: $celeste;
		border: 1px solid $celeste;
		color: #fff;
    }
}
.logged-in{
	a.dgt-btn.dgt-login.btn-sign-in{
		display: none !important;
	}
}

@media screen and (max-width: 960px){
	.footer .w-footer-list .w-footer-item:first-child{
		padding-left: 5%;
	}
	.active-session .footer .w-social,
	.logged-in .footer .w-social{
		width: 30% !important;
	}


	.active-session .footer .w-social,
	.logged-in .footer .w-social{
		width: 35% !important;
	}
	.active-session .footer .w-menu,
	.logged-in .footer .w-menu{
		padding-left: 5% !important;
		margin: 0;
		padding-top: 13% !important;
	}
	.active-session .footer .w-form,
	.logged-in .footer .w-form{
		left: 5%;
		width: 40% !important;
		z-index: 9;
	}
}
@media screen and (max-width: 782px){
	html #wpadminbar{
		display: none !important;
	}
}
@media screen and (max-width: 768px){
	.nav-list{
		display: none;
	}
	.w-nav{
		display: block;
	}
	.w-form .gform_fields{
		display: none;
	}
	.footer .w-footer-list .w-form a{
		display: none;
	}
	.footer .w-footer-list .w-form h2{
		display: none;
	}
	.footer .w-footer-list .w-social .phone{
	    position: absolute;
	    top: 110px;
	    right: 20px;
	}
	.footer .w-footer-list .w-footer-item:last-child{
	    margin-top: 110px;
	    padding-left: 0;
	    text-align: right;
	    padding-right: 20px;
	}
	.footer .w-footer-list .w-menu a, .footer .w-footer-list .w-menu p{
		margin: 0 0 7px;
	}
	.footer .w-footer-list .w-footer-item:first-child{
		padding-left: 4%;
	}
	.footer .w-footer-list .w-form input[type="submit"]{
		position: absolute;
		bottom: 130px;
    	left: 4% !important;
    	display: none;
	}
	.footer .w-footer-list .w-form .dgt-btn.dgt-login{
		display: inline-block !important;
	}	
	.footer .w-footer-list .w-footer-item{
		width: 50%;
	}
	.footer .w-footer-list{
		padding: 80px 0;
	}
	.menu-mobile-close{
		top: 20px;
		left: 10px;
	}
	.menu-responsive>li a{
		display: block;
		height: 3em;
		line-height: 3em;
		padding-left: 1em;
		color: white;
		font-size: 18px;
	}
	.nav-footer{
		display: none;
	}
	.w-travel .gtitle h2{
		font-size: 20px;
	}
	.w-travel .gtitle p{
		font-size: 14px;
	}

	
	.header{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
	}
	.w-nav{
		position: fixed;
	}

	.header .w-logo{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}
	.header .top-nav, .header .nav-list{
		height: 98px;
	}
	.header .top-nav .phone{
		display: none;
	}
	.header .w-logo{
		width: 140px;
	}
	.header .w-logo figure {
	    width: 140px;
	}
	.header .top-nav .access{
	    padding-right: 20px;
	    padding-top: 15px;
	}
	.header .top-nav .access .dgt-btn{
		display: block;
		margin-bottom: 0px;
	}
	.modal{
		top: 98px !important;
	}
	.scrolltop{
		right: 8px;
	}
	.header .top-nav .access .user {
		margin-bottom: 0px;
	}
	.header .top-nav .access .dgt-btn{
		height: 25px;
		line-height: 25px;
	}
	.active-session .header .top-nav .access .user,
	.logged-in .header .top-nav .access .user{
		display: none;
	}
	.footer .w-footer-list .w-form a{
		padding: 3px 5px !important;
	}


	.active-session, .logged-in{
		.footer .w-menu{
			padding-left: 10% !important;
			padding-top: 0% !important;
			margin: 0;
			text-align: left !important
		}
		.footer .w-footer-list .w-social .phone{
			position: relative;
			top: 0;
			right: 0;
			margin:  0 0 40px;
		}
		.footer .w-footer-list .w-form .user a{
			display: block;
			padding: 0  0px 0px 20px !important;
		}
		.footer .w-footer-list .w-form a{
			display: block;
			float: none;
			margin-left: 0;
		}
		.footer .w-footer-list .w-footer-item:last-child{
			margin-top: 150px;
		}
		.header .top-nav .access .deposit{
			display: block;
		}	
		.footer .div-login .user{
			display: block;
			float: none;
		}
		.signin{
			display: none;
		}
		.signout{

			display: inline-block;
		}

	}
	.active-session .footer .w-footer-list,
	.logged-in .footer .w-footer-list{
		padding: 130px 0 !important;
	}
}


@media screen and (max-width: 600px){
	.footer .w-footer-list .w-form input[type="submit"]{
    	left: 10px;
	}
	.active-session .footer .w-footer-list,
	.logged-in .footer .w-footer-list{
		padding: 150px 0 130px 0 !important;
	}

}
@media screen and (max-width: 480px){
	
	.modal .w-login h2{
		margin: 0 0 20px;
	}
	.modal .w-login{
		top: 40%;
	}
	.modal .w-login .gform_wrapper .material .gform_footer{
		margin-top: 20px;
	}
	.modal{
		top: 65px !important;
	}
	.modal .w-login h2{
		font-size: 28px !important;
	}
	.w-banner{
		margin-top: 60px !important;
	}
	.w-nav{
		font-size: 3em !important;
		padding: 10px 10px !important;
	}
	.menu-mobile-close{
		top: 10px !important;
		left: 10px !important;
	}
	.header .top-nav, .header .nav-list{
		height: 65px !important;
	}
	.header .w-logo{
		width: 90px !important;
	}
	.header .w-logo figure{
		width: 90px !important;
	}
	.header .top-nav .access{
		padding-right: 10px !important;
		padding-top: 10px !important;
		font-size: 10px !important;
	}
	.header .top-nav .access .dgt-btn{
		height: 20px !important;
		line-height: 20px !important;
		width: 90px !important;
		margin-left: 8px !important;
		margin-bottom: -15px !important;
	}
	.footer .w-footer-list .w-form input[type="submit"]{
		bottom: 120px;
	}
	.footer .w-footer-list .w-footer-item:last-child{
		margin-top: 140px;
	}
	.active-session .footer .w-social,
	.logged-in .footer .w-social{
		width: 45% !important;
	}
	.active-session .footer .w-footer-list .w-footer-item:first-child,
	.logged-in .footer .w-footer-list .w-footer-item:first-child{
		padding-left: 0;
	}
	.active-session .footer .w-menu,
	.logged-in .footer .w-menu{
		max-width: 180px;
	}
	.active-session .footer .w-footer-list .w-social .phone,
	.logged-in .footer .w-footer-list .w-social .phone{
		font-size: 15px;
	}
	.active-session .nav-footer,
	.logged-in .nav-footer{
		padding-top: 90px;
	}
	.active-session .div-login .user,
	.logged-in .div-login .user{
		font-size: 13px;
	}
	.active-session .footer .w-footer-list,
	.logged-in .footer .w-footer-list{
		padding: 40px 0;
	}
	.active-session .footer .div-login .user,
	.logged-in .footer .div-login .user{
		padding-bottom: 10px;
	}
}