.ice-link-box,
.ice-submit {
	cursor: pointer;
}

#ice-checkbox {
	width: 20px;
	height: 20px;
	border-color: #333;
	vertical-align: bottom;
	margin-right: 10px;
	position: relative;
	background: #333;
	appearance: auto !important;
}
.logout-hide {
	display: none;
}
.logged-in .logout-hide {
	display: inherit;
}
.logged-in .loggedin-hide {
	display: none;
}
.perks-choose-credit #exchangeList::after {
	display: none;
}