.ice-link-box,
.ice-submit {
	cursor: pointer;
}

#ice-checkbox {
	width: 20px;
	height: 20px;
	border-color: #333;
	vertical-align: bottom;
	margin-right: 10px;
	position: relative;
	background: #333;
	appearance: auto !important;
}

.perks-choose-credit {
	display: none;
}